/* Styles for the FAQ module container */
.faq-module {
    background-color: #F8FAFC;
    position: relative;
    height: 300px;
  }
  
  /* Styles for the main FAQ container */
  .faq {
    background-color: #F8FAFC;
    position: relative;
    padding-bottom: 20px;
  }
  
  /* Styles for the FAQ section container */
  .faq_section {
    margin: 0 auto;
    border-radius: 16px;
    position: relative;
  }
  
  /* Styles for the FAQ section heading */
  .faq_section h1 {
    padding: 10px;
    padding-top: 15px;
  }
  
  /* Styles for each individual FAQ item */
  .faq__questions__items__item {
    background: #FDFEFD;
    color: #6C6C6C;
    box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.08);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 700;
    line-height: 27px;
    cursor: pointer;
  }
  
  /* Styles for the FAQ answers */
  .answer {
    background: rgba(15, 23, 42, 0.0784313725);
    color: #6C6C6C;
    box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.08);
    border-radius: 16px;
    padding: 16px;
    font-size: 18px;
    margin-top: 13px;
    color: var(--kit-colors-slate-900, #0F172A);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  
