@use 'sass:math';

// Spacing
$base_padding: 0.75rem;
$base_margin: 0.75rem;

// Borders
$base_border_width: 1px;
$base_border_radius: 20px;

// Box Shadow
$base_box_shadow: 1px 3px 5px 5px rgba(0,0,0,0.1);


// Font sizes
$base_font_size: 1rem;

$font_size_sm: $base_font_size * 0.75;

$font_size_lg: $base_font_size * 1.5;

$font_size_xl: $base_font_size * 2;

$font_size_xxl: $base_font_size * 3;

@mixin btn($bg-color: #e2e2e2)
{
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: $base_padding $base_padding * 9;
    border-radius: $base_border_radius;
    background-color: $bg-color;
    text-decoration: none;
    margin: 15px auto;
}

// Colors
$colors: (
    'lime': #53d373,
    'light-gray': #111d2c
);

.card-image
{
    width: 300px;
    height: 170px;
    border-radius: 8%;
    margin: auto 5px;
}

.text-center
{
    text-align: center;
}

.grid-container 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    margin-top: 2%;

}

.row-cards
{
    display: flex;
    flex-flow: row wrap;
}

// Layout Values
$layout_values: flex-start, flex-end, center, space-between, space-around;

@each $val in $layout_values
{
    .justify-#{$val}
    {
        justify-content: $val;
    }
}
.module-title
{
    font-size: $font_size_xl;
    padding-bottom: $base_padding;
    font-weight: bold;
    margin-bottom: -20px;
    
    color: black;
}
.card
{
    display: block;
    padding: $base_padding * 1.5;
    padding-bottom: 25px;
    width: 310px;
    margin: 1.5rem auto;
    
    height: 350px;
    box-shadow: $base_box_shadow;
    border-radius: math.div($base_border_radius, 2);

    .card-title
    {
        font-size: $font_size_lg;
        padding-bottom: $base_padding;
        font-weight: bold;
        color: #111d2c;
        
    }

    .card-body
    {
        font-size: $base_font_size;
        color: #7f8a97;
    }
}

@each $key, $val in $colors
{
    .text-#{$key}
    {
        color: $val;
        font-weight: bold;
    }
}

@each $key, $val in $colors 
{
    .btn-#{$key}
    {
        @include btn($val);
        font-weight: bold;
        font-size: 17px;
        
        &:hover
        {
            background-color: darken($val, 7);
        }
    }
}
.swiper
{
    width: 100%;
    margin: 5px 30px;
    box-sizing: border-box;
    // margin-top: 2%;
    margin-right: 2%;
}
.container .swiper-button-prev{
    left: -45px;
}
.container .swiper-button-next{
    right: -45px;
}
