$green: #008000;
$red: #FF0000;

.fas.fa-thumbs-up,
.fas.fa-thumbs-down {
  font-size: 24px;
  margin-right: 12px;
}

.columns-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    padding-left: 20px;
    font-size: 16px;
    width: 95%;
  }
}

.cons .column {
  width: 500px;
  height: 43px;
  margin-bottom: 10px;
  border-radius: 15px;
  background: linear-gradient(to right, $red 0%, $red 5px, rgba(255, 0, 0, 0.1) 5px, rgba(255, 0, 0, 0.1) 100%);
}

.pros .column {
  width: 500px;
  height: 43px;
  margin-bottom: 10px;
  border-radius: 15px;
  background: linear-gradient(to right, $green 0%, $green 5px, rgba(0, 128, 0, 0.1) 5px, rgba(0, 128, 0, 0.1) 100%);
}
