/* Load More Button */
.load-more {
    margin-top: 35px;
    margin-left: 400px;
    margin-bottom: 40px;
    
    .loadmore {
      display: inline-block;
      padding: 10px 20px;
      background-color: #dc3545;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      text-transform: uppercase;
      border: none;
      border-radius: 4px;
      
      &:hover {
        background-color: #c82333;
      }
    }
  }
  
  /* Base styles for larger screens */
  h1.toplist-section {
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  
  .post {
    margin-bottom: 36px;
    display: flex;
    align-items: center;
    width: 80%;
    height: 80px;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f6f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .toplist_thumbnail {
      margin-bottom: 10px;
      width: 76px;
      height: 76px;
      border-radius: 50%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      
      &:hover {
        transform: scale(1.1);
      }
    }
    
    .post-content {
      flex-grow: 1;
      
      h1 {
        padding-bottom: 88px;
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
        text-align: center;
        transition: color 0.3s ease-in-out;
      }
    }
  }
  @media (max-width: 768px) {
    .post {
      flex-direction: column;
      width: 100%;
      align-items: center; /* Center content horizontally */
    }
  
    .post .textare {
      width: 80%; /* Adjust the width to your preference */
      margin: 10px 0; /* Reset margins */
      padding: 0; /* Reset padding */
    }
  
    a.permalink-bus {
      justify-content: center;
      text-align: center;
      margin-left: 0;
      margin-top: 10px;
      padding: 5px 10px; /* Add padding to the button for touch-friendly area */
    }
  }
  
